# =========================
# UE4 plugin
# =========================
Binaries/*
Build/*
Config/*
Content/*
!Content/SGUI/
Intermediate/*
Saved/*
Source/*

*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.sdf
*.opensdf
*.uproject
*.pdb
*.dll
